.svn
*.dmg
*.dmg.gz
*.diff
utilities/*.app
modules/*.tar.gz
modules/*.zip
modules/*.tar
modules/*/
dist/*
addssl/*
modules-bak/*
modules_2/*
modules_32/*
modules_leopard/*
modules_snowleopard/*
modules_template_pro/*
ssl_test/*
